.svg-format{
    padding-left: 1380px;
    fill: #12B1D1;
    margin-top: 10px;
}
.container-brandbar {
    width:100%;
    padding: 1px;
    display: flex;
    height: 50px;
    background:  rgb(44, 51, 54);
    
}

.container a {
    color:#12B1D1;
    text-decoration:none
}

nav {
    display:flex;
    align-items: center;
}

nav a {
    margin-left: 20px;
}