
.carousel-slide {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    width: 100%;
  }
  
  